<%- include('partials/header') %> 

<div class="wrapper-about">

        <div class="profile">
            <img src="/images/my_img.jpg" alt="sparsh-img" class="sparsh-img" />
            <h2>Hello.</h2>
            <p class="desc-text intro-text">
                I am Sparsh Rawal. Currently an undergraduate in Computer Engineering from Delhi Technological University, I enjoy coding and DIY projects.
            </p>
        </div>
    

<div class="socials">
    <a
    class="social-link"
    href="https://www.instagram.com/sparshrawal/"
    target="_blank"
    >Instagram</a
    >
    <a
    class="social-link"
    href="https://www.linkedin.com/in/sparsh-rawal/"
    target="_blank"
    >LinkedIn</a
    >
    <a
    class="social-link"
    href="https://github.com/ChillyLemon"
    target="_blank"
    >GitHub</a
    >
    <a
    class="social-link"
    href="mailto:raw.sparsh@gmail.com"
    >Email</a
    >

</div>
<div class="push"></div>
</div>

<%- include('partials/footer') %> 