<%- include('partials/header') %>

<!-- form created using Bootstrap -->
<div class="wrapper">
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text" class="form-control" name="postTitle" autocomplete="off" required>
    </div>
    <div class="mb-3">
        <label for="postBody" class="form-label">Post</label>
        <textarea name="postBody" class="form-control" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary publish">Publish</button>
</form>

<div class="push"></div>
</div>
<%- include('partials/footer') %> 