<%- include('partials/header') %>

<div class="wrapper">
    <% let url = "/delete/" + eId %>
    <h1><%= eTitle %> </h1>
    <p><%= eBody %> </p>
    <div class="push"></div>
</div>
<%- include('partials/footer') %> 